.result-conatiner {
    width: fit-content;
    min-width: 60px;
    min-height: 45px;
    margin: auto;
    background-color: #fff;
    display: grid;
    place-items: center;
    padding: 0 15px;
    border-radius: 6px;

    opacity: 0;
    transition: .25s opacity ease;
}

.show-result { 
    opacity: 1;
}

.error,
.result {
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    line-height: 2;
}
.result {
    color: rgb(29, 158, 68);
    font-size: 22px;
}

.error {
    color: rgb(241, 64, 64);
}